#dark-mode-toggle {
	display: none !important;
}

.navigation-item.separator {
	display: none !important;
}

.avatar {
	image-rendering: pixelated;
	filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.3));
}