body {
    font-family: Helvetica, sans-serif;
    background-color: #fafafa;
    color: #212121;
    padding-left: 20%;
    padding-right: 20%;
    line-height: 1.8em;
}

@media (orientation: portrait) {
    body {
        font-size: xx-large;
        padding-left: 10%;
        padding-right: 10%;
    }
}
.avatar {
    width: 13em;
    height: auto;
    border-radius: 50%;
    padding-top: 25vh;
    image-rendering: pixelated;
    filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.3));
}

h1 {
    font-size: 2em;
    line-height: 2em;
}

a {
    color: #212121;
    text-decoration: none;
}

a:hover {
    color: #1565c0;
    text-decoration: underline;
}

.link { color: #1565c0; }

#name {
    letter-spacing: 0.1em;
    float: left;
}

th {
    border: 0.7em solid transparent;
}

tr:first-child th { border-left: 0; }
tr:last-child th  { border-left: 0; }


.header { font-weight: 700; }

#titlename {
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}

#namewrapper {
    width: 200em;
}
